head              { font-family: 'Open Sans', sans-serif;text-align: center; }
body             { font-family: 'Open Sans', sans-serif; font-size: small;text-align: center; }
h1				{ font-family: 'Libre Baskerville', serif; font-weight: 400;font-size: 1.3em;text-align: left; margin: 20px 5px 20px 15px}

.navbar{
	font-size: 15px
} 
.navbar-brand {
  font-size: 1.3em

}

.table {
	margin-top: 10px


}
th, td {
  padding: 25px;
  text-align: left;
  text-transform:capitalize;
}